@charset "utf-8";


/*Paginas*/

  .divMain{
    max-width: 1300px;
    margin: auto;
    background-color: #d3d3d3;
    border-radius: 20px;
    padding: 30px;
    margin-top: 2vh;
    font-size: 1.45em;
  }

  #refeMain{
    max-width: 1300px;
    margin: auto;
    background-color: #d3d3d3;
    border-radius: 20px;
    padding: 30px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 1.1em;
  }

  .referencia {
    line-height: 1cm;
    margin-right: 2cm;
    margin-left: 3cm;
    text-align: justify;
    line-height:1cm;
    
  }

  .img-abnt {
    display: block;
    margin: auto;
    width: 35vw;
    height: 35vh;
  }
  .p-abnt {
    text-align: center;
  }
  
/*Responsividade*/

